{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up and Sign In Form</title>
    <link rel="stylesheet" href="{% static 'inputmail.css' %}">
</head>

<body>
    <div id="loader">
        <div class="loader-spinner"></div>
    </div>
    <div class="container">
        <div class="form-box">
            <h1 id="title">Reset Password</h1>
            <form method="post" id="signupForm">
                {% csrf_token %}
                <div class="input-group">
                    <div class="input-field">
                        <input type="password" placeholder="Password" name="password">
                    </div>
                    <div class="input-field">
                        <input type="password" placeholder="Confirm Password" name="cnfpassword">
                    </div>
                </div>
                <div class="btn-field">
                    <button type="submit" class="submit-btn">Submit</button> <!-- New submit button -->
                </div>
            </form>
            <div>
                <style>
                    h5 {
                        color: red;
                    }
                </style>
                {% for message in messages %}
                <h5>{{message}}</h5>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        // Your existing JavaScript code for sign up and sign in buttons
    </script>
</body>

</html>


<script>

    let signupBtn = document.getElementById("signupBtn");
    let signinBtn = document.getElementById("signinBtn");
    let nameField = document.getElementById("nameField");
    let title = document.getElementById("title");

    signinBtn.onclick = function () {
        nameField.style.maxHeight = "0";
        title.innerHTML = "Sign In";
        signupBtn.classList.add("disable");
        signinBtn.classList.remove("disable");
    }
    signupBtn.onclick = function () {
        nameField.style.maxHeight = "60px";
        title.innerHTML = "Sign Up";
        signupBtn.classList.remove("disable");
        signinBtn.classList.add("disable");
    }
    // Show loader when redirecting
    window.addEventListener('beforeunload', function () {
        document.getElementById('loader').style.display = 'block';
    });
</script>
</body>

</html>